{% extends "base.html" %}

{% block title %}Registrar Parroquia{% endblock %}

{% block content %}
    <h1 class="mb-4">{% if sacramento %}Editar{% else %}Registrar{% endif %} Sacramento</h1>

    <form method="post">
        {% csrf_token %}

        {% if sacramento %}
<div class="mb-3">
    <label class="form-label">ID Sacramento:</label>
    <input type="text" class="form-control" value="{{ sacramento.ID_Sacramento }}" readonly disabled>
</div>
{% endif %}

        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Sacramento:</label>
            <input type="text" name="Nombre_Sacramento" id="nombre" class="form-control"
                   value="{{ sacramento.Nombre_Sacramento|default:'' }}" required>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="Sacramento_Requiere_Padrino" id="padrino"
                   {% if sacramento.Sacramento_Requiere_Padrino %}checked{% endif %}>
            <label class="form-check-label" for="padrino">¿Requiere padrino?</label>
        </div>

        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="/sacramentos/" class="btn btn-secondary">Cancelar</a>
    </form>
{% endblock %}
